/*common class starts here*/
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.font{
    font-family: "Inter", sans-serif;
    max-width: 1600px;
}
.gradient{
    background: linear-gradient(to right, #F7E93F, #FB09B4, #9100F8);
}
.gradient-text{
  background: linear-gradient(to right, #F7E93F, #FB09B4, #9100F8);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/*common class ends here*/

/*navber section starts here*/

#navbar-container{
    background-color: #1B043A;
    color: white;
}

.content{
    width: 80%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    align-items: center;
}
.content .list ul{
    display: flex;
    flex-direction: row;
    gap: 30px;   
}
.content .list li{
    list-style: none;
    font-size: 0.8rem;
    cursor: pointer;
}
.btn{
    color: white;
    border: none;
    padding: 7px 10px;
    border-radius: 20px;
}
.btn:hover{
    background: linear-gradient(white);
    color: black;
    font-size: 0.9rem;
    font-weight: bold;
    cursor: pointer;
}


/*navber section ends here*/

/*banner section starts here*/

#banner-container{
    background: url(./images/assets/hero-bg.png);
    background-repeat: no-repeat;
    background-position: top;
    width: 100%;
    height: 650px;
}
.banner-content{
    background: url(./images/assets/hero-circle.png);
    background-repeat: no-repeat;
    background-position: center;
    padding: 150px;    
}
.microphone{
    text-align: center;
    position: relative;
    top: 20px;
}

/*microphone hover animation starts here*/

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
  }
}
.microphone:hover img {
    animation: pulse 1s infinite;
    cursor: pointer;
}

/*microphone hover animation ends here*/

.banner-info{
    text-align: center;
    color: white;
}
.banner-info h1{
    font-weight: bold;
    padding-bottom: 15px;
}
.banner-info p{
    font-size: 0.8rem;
    padding-bottom: 15px;
    color: lightgray;
}
.btn-2{
    color: #00FF88;
    background-color: #1A0B2E;
    border: 1px solid #00FF88;
    padding: 5px 10px;
    border-radius: 15px;
    margin: 5px;
}
.btn-2:hover{
    background-color: white;
    color: black;
    font-size: 0.9rem;
    font-weight: bold;
    cursor: pointer;
}
.button .text{
    background-color: #00FF88;
    color: black;
    width: 50px;
    height: 20px;
    padding: 3px;
    font-weight: 600;
    text-align: center;
    border-radius: 15px;
    position: relative;
    left: 560px;
    bottom: 250px;   
}

/*banner section ends here*/

/*About-Podcast section starts here*/

#About-Podcast{
    background-color: #1B043A;
}
.Podcast-content{
    width: 80%;
    margin: 0 auto;
    height: 450px;
}
.Podcast-text{
    width: 600px;
    margin: 0 auto;
    text-align: center;
    color: white;
    padding-top: 50px;
}
.Podcast-text h2{
    font-size: 2rem;
    font-weight: bolder;
    padding: 10px;
}
.Podcast-text .pera-1{
    font-size: 0.8rem;
    line-height: 22px;
    color: lightgray;
}
.Podcast-text .pera-2{
    font-size: 0.8rem;
    padding-top: 20px;
    padding-bottom: 40px;
    color: lightgray;
}

.Podcast-card{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    padding-top: 50px;
}
.Podcast-card .card{
    color: #00FF88;
    text-align: center;
}
.card p{
    font-size: 0.8rem;
    color: lightgray;
    padding-top: 5px;
}

/*About-Podcast section ends here*/

/*Choose-TechWave-container starts here*/

#Choose-TechWave-container{
    background-color: #230449;
}
.Choose-TechWave-content{
    width: 80%;
    height: 630px;
    margin: 0 auto;
}
.Choose-TechWave-text{
    color: white;
    text-align: center;
    padding: 40px;
    font-weight: 700;
}
.Choose-TechWave-card>*{
    background-color: #1B043A;
    border: 1px solid #1B043A;
    padding: 20px;
    color: white;
    border-radius: 20px;
}
.Choose-TechWave-card img{
    width: 30px;
}
.Choose-TechWave-card h3{
    font-size: 1rem;
    padding: 10px 0px;
}
.Choose-TechWave-card p{
    font-size: 0.7rem;
    line-height: 20px;
    color: lightgray;
}
.TechWave-card-1{
    grid-area: card-1;   
}
.TechWave-card-2{
    grid-area: card-2;
}
.TechWave-card-3{
    grid-area: card-3;
}
.TechWave-card-4{
    grid-area: card-4;
}
.TechWave-card-5{
    grid-area: card-5;
}

.Choose-TechWave-card{
    display: grid;
    gap: 10px;
    grid-template-areas: 
    "card-1 card-2 card-2"
    "card-1 card-3 card-3"
    "card-4 card-4 card-5" ;   
}

/*Choose-TechWave-container ends here*/

/*Featured Episodes section starts here*/

#Featured-Episodes{
    background-color: #1B043A;
}
.Episodes-content{
    width: 80%;
    height: 500px;
    margin: 0 auto;
    padding-top: 50px;
}
.Episodes-text{
    color: white;
    font-size: 1.3rem;
    font-weight: 700;
    text-align: center;
    padding-bottom: 30px;
}
.Episodes-fram{
    display: flex;
    justify-content: space-evenly;
}
.Episodes-card{
    background-color: #2F0761;
    border: 1px solid black;
    border-radius: 10px;
    width: 250px;
    height: 360px;
    color: white;
    padding: 10px;
}
.Episodes-card h3{
    font-size: 1rem;
    padding: 7px 0px; 
}
.Episodes-card p{
    font-size: 0.8rem;
    color: lightgray;
    line-height: 17px;
    padding-bottom: 10px;
}
.min{
    display: flex;
    gap: 5px;
}
.min p{
    color: #00FF88;
}
.min img{
    width: 10px;
    height: 13px; 
}

/*Featured Episodes section ends here*/

/*Meet Host section starts here*/

#Meet-Host-container{
    background-color: #1B043A;   
}
.Meet-Host-content{
    width: 80%;
    margin: 0 auto;
    padding-top: 50px;
    height: 430px;
}
.Meet-Host-Header{
    text-align: center;
    color: white;
    font-size: 1.5rem;
    font-weight: 700;
    padding-bottom: 30px;
}
.Host-Banner{
    background-color: #2F0761;
    display: flex;
    align-items: center;
    padding: 20px;
    border-radius: 20px;
}
.Host-Banner-Info{
    padding-left: 20px;
    color: white;

}
.Host-Banner-Info p{
    font-size: 0.8rem;
    line-height: 20px;
    color: lightgray;
    padding: 10px 0px;
}
.host-btn{
    border: 2px solid #9100F8;
    padding: 10px;
    border-radius: 16px;
    justify-items: center;
    margin: 3px;
}
.host-btn-3{
    width: 38px;
    border: 2px solid #9100F8;
    padding: 8px;
    border-radius: 15px;
    justify-items: center;
    margin: 3px;
}
.host-btn-4{
    width: 38px;
    border: 2px solid #9100F8;
    padding: 8px;
    border-radius: 15px;
    justify-items: center;
    margin: 3px;
}

/*Meet Host section ends here*/

/*footer section starts here*/

#footer-container{
    background-color:#1B043A;
}
.footer-content{
    background-image: url(./images/assets/footer-bg.png);
    height: 300px;
    background-position: center;
    background-repeat: no-repeat;
}
.footer-info{
    color: white;
    margin: 0 auto;
    text-align: center;
    padding-top: 75px;
}
.footer-info h3{
    font-size: 3rem;
    font-weight: bolder;
}
.footer-info p{
    font-size: 0.8rem;
    color: lightgray;
}
.icon{
   display: flex; 
   flex-direction: row;
   gap: 10px;
   font-size: 0.8rem;
}
.icon img{
    width: 15px;
    height: 13px;
}
.social-media-icon{
    display: flex;
    flex-direction: row;
    gap: 70px;
    justify-content: center;
    align-items: center;
    padding: 30px 0px;
}

/*footer section ends here*/



@media screen and (max-width:576px) {
    .hide-sm{
        display: none;
    }

/*navber section starts here*/
    .content{
        width: 100%;
    }
    .content .text{
        margin-left: 30px;
    }
    .content .menu{
        margin-left: 220px;
        cursor: pointer;
    }

/*banner section starts here*/
    .button .text{
        position: relative;
        left: 170px;
        bottom: 250px;  
    }

    /*About-Podcast section starts here*/
    .Podcast-content{
        width: 100%;
        height: 530px;
    }
    .Podcast-text{
        width: 400px;
        margin: 0 auto;
        text-align: center;
    }
    .Podcast-card{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
        gap: 40px;
    }

/*Choose-TechWave-container starts here*/

.Choose-TechWave-content{
    height: 1000px;  
}

.TechWave-card-1{
    grid-area: card-1;   
}
.TechWave-card-2{
    grid-area: card-2;
}
.TechWave-card-3{
    grid-area: card-3;
}
.TechWave-card-4{
    grid-area: card-4;
}
.TechWave-card-5{
    grid-area: card-5;
}

.Choose-TechWave-card{
    display: grid;
    gap: 10px;
    align-items: center;
    grid-template-areas: 
    "card-1"
    "card-2"
    "card-3"
    "card-4"
    "card-5" ;   
}

/*Featured Episodes section starts here*/

.Episodes-fram{
    display: flex;
    gap: 20px;
    flex-direction: column;
    align-items: center;
}
.Episodes-content{
    width: 100%;
    height: 1260px;
} 

/*Meet Host section starts here*/

.Host-Banner{
    display: flex;
    flex-direction: column;
    text-align: center;
}
.Meet-Host-content{
    height: 600px;
}

/*footer section starts here*/

.footer-content{
    height: 360px;
}
.social-media-icon{
    display: grid;
    grid-template-columns: repeat(2, 0.1fr);
    justify-items: center;
}

}


@media screen and (min-width:577px) and (max-width:992px) {
.hide-md{
     display: none;
}

/*banner section starts here*/
    .button .text{
        position: relative;
        left: 350px;
        bottom: 250px;  
    }
.content{
    width: 100%;
    padding: 0px 20px;
}

/*Choose-TechWave-container starts here*/

.Choose-TechWave-content{
    height: 900px;  
}

.TechWave-card-1{
    grid-area: card-1;   
}
.TechWave-card-2{
    grid-area: card-2;
}
.TechWave-card-3{
    grid-area: card-3;
}
.TechWave-card-4{
    grid-area: card-4;
}
.TechWave-card-5{
    grid-area: card-5;
}

.Choose-TechWave-card{
    display: grid;
    gap: 10px;
    align-items: center;
    grid-template-areas: 
    "card-1"
    "card-2"
    "card-3"
    "card-4"
    "card-5" ;   
}

/*Featured Episodes section starts here*/

.Episodes-fram{
    display: flex;
    gap: 10px;
    align-items: center;
}

/*Meet Host section starts here*/

.Meet-Host-content{
    height: 450px;
}

/*footer section starts here*/

.social-media-icon{
    display: flex;
    flex-direction: row;
    gap: 50px;

}

}


@media screen and (min-width:993px) {
    .hide-lg{
        display: none;
    }
}